.service{
    display: flex;
    justify-content:space-around !important;
    align-items: center;
    margin-top:100px;
}
.child:nth-child(2)
{
    border:none;
    box-shadow: 5px 5px 5px  10px lightgray;
}